input{
    margin:2%;
}
#address{
    width:50%;
    margin: auto;
    border: 1px solid teal;
    padding: 2%;
    
}
span{
    color: rgb(224, 30, 30);
}
#submit{
    margin-left: 70%;
    color:wheat;
    background-color: rgb(75, 20, 202);
    border: none;
    padding: 2%;
}