#navbar{
    width:95%;
    height: 10%;
    padding:2%;
    border: 1px solid aqua;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
}
button{
    padding:2%;
    width:20%;
    background-color: rgb(119, 104, 133);
    border: none;
    color: rgb(102, 25, 25);
}