#menuDisplay{
    display: grid;
    grid-template-columns: repeat(4,20%);
    justify-content: space-around;
}
#itemDiv{
    border: 1px solid aquamarine;
    width: fit-content;
    height: fit-content;
    margin:2%;
    padding:2%;
}
img{
    width:90%;
}
h3{
    text-align: center;       
}
#cartBtn{
    margin:2%;
    background-color: brown;
    border: none;
    border-radius: 5%;
    color: wheat;
    padding:1%;
}
#menuNav{
    text-align: right;
    margin: 2%;
}